body{
    font-family: 'Poppins',sans-serif;
    
}

.sun{
    text-align: center;
    padding-top: 50px;
    color: #f94230;
    font-size: 13px;
}
.sun2{
    text-align: center;
    font-size: 3rem;
    padding: 15px;
}
.sun3{
    text-align: center;
    padding-bottom: 20px;
}
.button{
    text-align: center;
    
}
button{
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 20px;
}
.button1{
    background-color: #f94230;
}
.sun4{
    text-align: center;
    
}
span{
    display: inline-block;
    margin: 20px 20%;
}
.dollar{
    font-size: 4rem;
     color: whitesmoke;
}